In [1]:
import uuid
import pandas as pd
from feast import FeatureStore
from feast import (
    Entity,
    FeatureService,
    FeatureView,
    Field,
    FileSource
)
from feast.types import Float32, Float64, Int64, String
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

/home/marquinhoslinux/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [2]:
housepricing =  pd.read_csv("../data/ma_lga_12345.csv")
MSTOCK =  pd.read_csv("../data/Microsoft_Stock.csv")

In [3]:
housepricing

       saledate      MA   type  bedrooms
0    30/09/2007  441854  house         2
1    31/12/2007  441854  house         2
2    31/03/2008  441854  house         2
3    30/06/2008  441854  house         2
4    30/09/2008  451583  house         2
..          ...     ...    ...       ...
342  30/09/2018  603281   unit         3
343  31/12/2018  601167   unit         3
344  31/03/2019  605637   unit         3
345  30/06/2019  599339   unit         3
346  30/09/2019  597884   unit         3

[347 rows x 4 columns]

In [4]:
MSTOCK

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

In [ ]:
class DATA():
    pass

class PREPROCESADOR():
    pass

class PROCESO():
    pass

class PROCESOFEAST():
    pass

class GUARDADOMLFLOW():
    pass

class