In [3]:
import feast
import dagshub
import mlflow
import pandas as pd

/home/marquinhoslinux/.local/lib/python3.10/site-packages/numpy/_core/getlimits.py:551: UserWarning: Signature b'\x00\xd0\xcc\xcc\xcc\xcc\xcc\xcc\xfb\xbf\x00\x00\x00\x00\x00\x00' for <class 'numpy.longdouble'> does not match any known type: falling back to type probe function.
This warnings indicates broken support for the dtype!
  machar = _get_machar(dtype)
/home/marquinhoslinux/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.
/home/marquinhoslinux/.local/lib/python3.10/site-packages/pydantic/_internal/_config.py:295: PydanticDeprecatedSince20: Support for class-based `config` is deprecated, use ConfigDict instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  warnings.warn(DEPRECATION_MESSAGE, DeprecationWarning)

In [20]:
Stresslevel =  pd.read_csv("../data/Stress_Dataset.csv")
vehiculos =  pd.read_csv("../data/electric_vehicles_spec_2025.csv")
stress = pd.read_csv('../data/StressLevelDataset.csv')
ai_job = pd.read_csv('../data/ai_job_trends_dataset.csv')
restaurants = pd.read_csv('../data/Bengaluru_Restaurants.csv')

In [22]:
housepricing

       saledate      MA   type  bedrooms
0    30/09/2007  441854  house         2
1    31/12/2007  441854  house         2
2    31/03/2008  441854  house         2
3    30/06/2008  441854  house         2
4    30/09/2008  451583  house         2
..          ...     ...    ...       ...
342  30/09/2018  603281   unit         3
343  31/12/2018  601167   unit         3
344  31/03/2019  605637   unit         3
345  30/06/2019  599339   unit         3
346  30/09/2019  597884   unit         3

[347 rows x 4 columns]

In [10]:
MSTOCK

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

In [11]:
Stresslevel

,Gender,Age,Have you recently experienced stress in your life?,Have you noticed a rapid heartbeat or palpitations?,Have you been dealing with anxiety or tension recently?,Do you face any sleep problems or difficulties falling asleep?,Have you been dealing with anxiety or tension recently?.1,Have you been getting headaches more often than usual?,Do you get irritated easily?,Do you have trouble concentrating on your academic tasks?,...,Are you facing any difficulties with your professors or instructors?,Is your working environment unpleasant or stressful?,Do you struggle to find time for relaxation and leisure activities?,Is your hostel or home environment causing you difficulties?,Do you lack confidence in your academic performance?,Do you lack confidence in your choice of academic subjects?,Academic and extracurricular activities conflicting for you?,Do you attend classes regularly?,Have you gained/lost weight?,Which type of stress do you primarily experience?
0,0,20,3,4,2,5,1,2,1,2,...,3,1,4,1,2,1,3,1,2,Eustress (Positive Stress) - Stress that motiv...
1,0,20,2,3,2,1,1,1,1,4,...,3,2,1,1,3,2,1,4,2,Eustress (Positive Stress) - Stress that motiv...
2,0,20,5,4,2,2,1,3,4,2,...,2,2,2,1,4,1,1,2,1,Eustress (Positive Stress) - Stress that motiv...
3,1,20,3,4,3,2,2,3,4,3,...,1,1,2,1,2,1,1,5,3,Eustress (Positive Stress) - Stress that motiv...
4,0,20,3,3,3,2,2,4,4,4,...,2,3,1,2,2,4,2,2,2,Eustress (Positive Stress) - Stress that motiv...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,0,21,3,4,2,3,5,1,5,4,...,2,3,3,3,4,1,2,2,2,Eustress (Positive Stress) - Stress that motiv...
839,1,19,3,2,1,2,2,1,2,3,...,1,1,1,3,2,1,2,3,1,No Stress - Currently experiencing minimal to ...
840,1,19,4,4,3,4,3,2,2,3,...,2,2,2,2,3,1,4,5,3,Eustress (Positive Stress) - Stress that motiv...
841,0,20,5,4,3,4,3,4,4,4,...,2,2,1,4,3,5,4,5,1,Eustress (Positive Stress) - Stress that motiv...
842,0,19,4,3,1,3,2,1,1,4,...,1,1,3,1,1,2,2,5,4,Eustress (Positive Stress) - Stress that motiv...

In [6]:
vehiculos

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...
3,Abarth,600e Turismo,200,50.8,Lithium-ion,102.0,345.0,158,280,6.2,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3056/Abarth-600e-T...
4,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,NaN,496,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Zeekr,7X Premium RWD,210,71.0,Lithium-ion,NaN,440.0,148,365,6.0,...,2000.0,539,5,RWD,JD - Large,4787,1930,1650,SUV,https://ev-database.org/car/3081/Zeekr-7X-Prem...
474,Zeekr,X Core RWD (MY25),190,49.0,Lithium-ion,NaN,343.0,148,265,5.9,...,1600.0,362,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3197/Zeekr-X-Core-RWD
475,Zeekr,X Long Range RWD (MY25),190,65.0,Lithium-ion,NaN,343.0,146,360,5.6,...,1600.0,362,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3198/Zeekr-X-Long-...
476,Zeekr,X Privilege AWD (MY25),190,65.0,Lithium-ion,NaN,543.0,153,350,3.8,...,1600.0,362,5,AWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3199/Zeekr-X-Privi...
477,firefly,NaN,150,41.2,Lithium-ion,112.0,200.0,125,250,8.1,...,0.0,404,5,RWD,B - Compact,4003,1885,1557,Hatchback,https://ev-database.org/car/3178/firefly-firefly

In [13]:
vehiculos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [15]:
stress

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,11,17,0,14,3,1,3,2,2,2,...,3,2,2,2,3,3,2,3,3,1
1096,9,12,0,8,0,3,0,0,0,1,...,4,0,1,1,1,1,3,4,3,2
1097,4,26,0,3,1,2,5,2,2,3,...,4,5,1,4,1,3,1,2,1,0
1098,21,0,1,19,5,3,1,4,3,1,...,1,2,5,1,4,1,4,4,4,2
1099,18,6,1,15,3,3,0,3,3,0,...,3,3,4,3,3,1,5,1,4,2

In [18]:
ai_job

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
0,Investment analyst,IT,Increasing,Moderate,42109.76,Masterâ€™s Degree,5,1515,6342,55.96,28.28,UK,44.63
1,"Journalist, newspaper",Manufacturing,Increasing,Moderate,132298.57,Masterâ€™s Degree,15,1243,6205,16.81,89.71,USA,66.39
2,Financial planner,Finance,Increasing,Low,143279.19,Bachelorâ€™s Degree,4,3338,1154,91.82,72.97,Canada,41.13
3,Legal secretary,Healthcare,Increasing,High,97576.13,Associate Degree,15,7173,4060,1.89,99.94,Australia,65.76
4,Aeronautical engineer,IT,Increasing,Low,60956.63,Masterâ€™s Degree,13,5944,7396,53.76,37.65,Germany,72.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,"Psychotherapist, dance movement",Education,Increasing,Moderate,142238.00,PhD,16,7816,1363,56.91,27.27,China,65.90
29996,"Scientist, water quality",IT,Decreasing,Moderate,123107.50,Associate Degree,19,9358,7632,27.25,12.84,UK,31.18
29997,Web designer,Manufacturing,Decreasing,Moderate,97305.51,Masterâ€™s Degree,0,9605,2559,31.76,16.82,China,26.07
29998,Primary school teacher,Entertainment,Increasing,Moderate,95599.22,High School,15,5481,4879,32.46,45.93,Brazil,40.43
29999,Company secretary,Education,Increasing,Low,65679.61,High School,15,4435,5902,34.54,78.93,Germany,21.75

In [19]:
restaurants

,name,address,addressObj/country,addressObj/postalcode,addressObj/state,cuisine,description,DietaryRestrictions,Dishes,Features,latitude,longitude,localAddress,Meal Type,numberOfReviews,phone,rankingDenominator,rankingPosition,rating,rawRanking
0,"Absolute Barbecues - Marathahalli, Bengaluru","3rd Floor, 90/4, Marathahalli Outer Ring Road ...",India,560037,Karnataka,Indian Barbecue Asian,AB's is India's First WISH GRILL Restaurant.A ...,Vegetarian Friendly Vegan Options Halal Gluten...,Noodle Pasta Cheesecake Crab Salad Curry Quail...,Reservations Seating Parking Available Validat...,12.949864,77.699310,"3rd Floor, 90/4, Marathahalli Outer Ring Road,...",Lunch Dinner,816,+91 73373 36712,5993.0,82.0,4.5,4.194001
1,Cuppa Redefined - HSR,"1237, Sri Sai Crystal 17th Cross 5th Main Rd, ...",India,560102,Karnataka,American Cafe,"""We at cuppa.redefined are always there to loo...",Vegetarian Friendly Vegan Options,Burger,Delivery Takeout Reservations Seating Digital ...,13.007294,77.570076,"1237, Sri Sai Crystal 17th Cross, 5th Main Rd,...",Breakfast Lunch Dinner Brunch Late Night,25,+91 91081 64894,5993.0,231.0,5.0,3.492631
2,Bharjari Oota,"18, Gandhi Bazar Main Road Basavanagudi, Benga...",India,560004,Karnataka,Indian,NaN,Vegetarian Friendly Vegan Options,,Takeout Seating Table Service ...,12.944860,77.572050,"18, Gandhi Bazar Main Road, Basavanagudi, 560004",Breakfast Lunch Dinner,21,+91 98801 41967,5993.0,755.0,4.0,3.153524
3,The Big Barbeque,"No 163, 2nd Floor, Above Adyar Ananda Bhavan N...",India,560100,Karnataka,Italian Chinese Indian Mediterranean Barbecue ...,"Build on the concept of live grill, The best B...",Vegetarian Friendly,Pasta Crab Salad Chili Curry Prawns Octopus Du...,Reservations Seating Table Service ...,12.948556,77.698520,"No 163, 2nd Floor, Above Adyar Ananda Bhavan N...",Lunch Dinner,45,+91 98214 58233,5993.0,222.0,4.5,3.511242
4,Savoury Restaurant,"27 Mosque Road Next to Sangeetha Mobiles, Beng...",India,560005,Karnataka,Indian Asian Middle Eastern Arabic,Born at the turn of the millennium as the pion...,Vegetarian Friendly Halal,Juice & Smoothies Fish Roti,Delivery Takeout Reservations Buffet Private D...,12.999533,77.615850,"27 Mosque Road, Next to Sangeetha Mobiles, 560005",Breakfast Lunch Dinner Brunch,122,+91 94494 42222,5993.0,253.0,4.0,3.455583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9286,Pizza Plus Nadiad,"111 Prime Street, Bengaluru 560025 India",India,560025,Karnataka,,NaN,,,,22.677410,72.881100,"111 Prime Street, 560025",,0,+91 90335 78478,NaN,NaN,NaN,NaN
9287,Iyengar Bakery,"6, G.N.R Complex, 6th Block, Opposite State Ba...",India,560095,Karnataka,,NaN,,,,12.936290,77.616780,"6, G.N.R Complex, 6th Block, Opposite State Ba...",,0,+91 81056 54998,NaN,NaN,NaN,NaN
9288,Indian Coffee Bar,"28/1, Cubbonpet Main Road, Near Regal Frame Wo...",India,560002,Karnataka,Indian,NaN,,,,13.004310,77.708330,"28/1, Cubbonpet Main Road, Near Regal Frame Wo...",,0,+91 99020 22111,NaN,NaN,NaN,NaN
9289,Kanaka Darshan,2 Hulimavu Gate Bannerghatta Road Opposite Ici...,India,560076,Karnataka,,NaN,,,,12.890010,77.599920,2 Hulimavu Gate Bannerghatta Road Opposite Ici...,Lunch Dinner,0,+91 98456 29073,NaN,NaN,NaN,NaN
9290,Desi Dhaba,2 Sowdeshwari Layout Sri M S Ramaiah Road Near...,India,560054,Karnataka,Chinese,NaN,,,,13.055910,77.547700,2 Sowdeshwari Layout Sri M S Ramaiah Road Near...,,0,+91 99161 89716,NaN,NaN,NaN,NaN